 
 
GO
CREATE TABLE [dbo].[Area](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CityId] [int] NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Abbreviation] [nvarchar](100) NULL,
	[Published] [bit] NOT NULL,
	[DisplayOrder] [int] NOT NULL,
	[SiteId] [int] NOT NULL,
 CONSTRAINT [PK_Area] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[City]    Script Date: 2018/8/28 21:33:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[City](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProvinceId] [int] NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Abbreviation] [nvarchar](100) NULL,
	[Published] [bit] NOT NULL,
	[DisplayOrder] [int] NOT NULL,
	[SiteId] [int] NOT NULL,
 CONSTRAINT [PK_City] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Area] ON 

INSERT [dbo].[Area] ([Id], [CityId], [Name], [Abbreviation], [Published], [DisplayOrder], [SiteId]) VALUES (1, 1, N'东城区', N'', 1, 1, 0)
INSERT [dbo].[Area] ([Id], [CityId], [Name], [Abbreviation], [Published], [DisplayOrder], [SiteId]) VALUES (2, 1, N'西城区', N'', 1, 1, 0)
INSERT [dbo].[Area] ([Id], [CityId], [Name], [Abbreviation], [Published], [DisplayOrder], [SiteId]) VALUES (3, 1, N'崇文区', N'', 1, 1, 0)
GO
SET IDENTITY_INSERT [dbo].[Area] OFF
SET IDENTITY_INSERT [dbo].[City] ON 

INSERT [dbo].[City] ([Id], [ProvinceId], [Name], [Abbreviation], [Published], [DisplayOrder], [SiteId]) VALUES (1, 76, N'北京市', N'', 1, 1, 0)
INSERT [dbo].[City] ([Id], [ProvinceId], [Name], [Abbreviation], [Published], [DisplayOrder], [SiteId]) VALUES (2, 77, N'天津市', N'', 1, 1, 0)
INSERT [dbo].[City] ([Id], [ProvinceId], [Name], [Abbreviation], [Published], [DisplayOrder], [SiteId]) VALUES (3, 78, N'石家庄市', N'', 1, 1, 0)
GO
SET IDENTITY_INSERT [dbo].[City] OFF
ALTER TABLE [dbo].[Area]  WITH CHECK ADD  CONSTRAINT [FK_Area_City] FOREIGN KEY([CityId])
REFERENCES [dbo].[City] ([Id])
GO
ALTER TABLE [dbo].[Area] CHECK CONSTRAINT [FK_Area_City]
GO
ALTER TABLE [dbo].[City]  WITH CHECK ADD  CONSTRAINT [FK_City_StateProvince] FOREIGN KEY([ProvinceId])
REFERENCES [dbo].[StateProvince] ([Id])
GO
ALTER TABLE [dbo].[City] CHECK CONSTRAINT [FK_City_StateProvince]
GO
